<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Accounts</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All accounts
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Account type</th>
                            <th>Balance</th>
                            <th>Delete</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="account,iter : ${accounts}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${account.getAccountType().name()}"></td>
                            <td th:text="${account.getBalance()}"></td>
                            <td>
                                <a th:href="@{'/accounts/delete/' + ${account.getId()}}" type="button" class="btn btn-danger btn-delete">Delete</a>
                            </td>
                            <td>
                                <a th:href="@{'/accounts/' + ${account.getId()}}"
                                   type="button"
                                   class="btn btn-link">Details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>