<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="utf-8">
    <title>Client details</title>
</head>
<body>

<div layout:fragment="content_admin">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Client details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${client.getId()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(client.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(client.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td th:text="${client.getEmail()}"></td>
                        </tr>
                        <tr>
                            <th>enabled</th>
                            <td th:text="${client.isEnabled()}"></td>
                        </tr>
                        <tr>
                            <th>age</th>
                            <td th:text="${client.getAge()}"></td>
                        </tr>
                        <tr>
                            <th>first name</th>
                            <td th:text="${client.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>last name</th>
                            <td th:text="${client.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>gender</th>
                            <td th:text="${client.getGender()}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{'/admin/orders?clientId=' + ${client.getId()}}" type="button" class="btn btn-primary btn-details mr-5">Show all orders</a>
                    <a th:href="@{'/admin/clients/edit?id=' + ${client.getId()}}" type="button" class="btn btn-primary btn-details">Edit client</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>