<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Bank Details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Bank Details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${bank.getId()}"></td>
                        </tr>
                        <tr>
                            <th>type</th>
                            <td th:text="${bank.getBankType()}"></td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td th:text="${bank.getName()}"></td>
                        </tr>
                        <tr>
                            <th>year</th>
                            <td th:text="${bank.getYearOfFoundation()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(bank.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(bank.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{'/clients?bankId=' + ${bank.getId()}}" type="button" class="btn btn-primary btn-details">Show all clients</a>
                    <hr>
                    <a th:href="@{'/clients/new?bankId=' + ${bank.getId()}}" type="button" class="btn btn-primary btn-details">Create new client</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>