<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Activation</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>

<div layout:fragment="content" class="h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="mt-5" th:text="${message}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>