<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="utf-8">
    <title>Edit model</title>
</head>
<body>

<div layout:fragment="content_admin">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4 th:text="'Edit ' + ${modelName}"/>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/admin/models/edit}" th:object="${model}" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter new name" th:field="*{name}">
                        </div>
                        <input type="hidden" id="id" aria-describedby="id" th:value="${model.id}" th:field="*{id}">
                        <button type="submit" class="btn btn-primary btn-details">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>