<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">
<head>
    <meta charset="utf-8">
    <title>Model details</title>
</head>
<body>

<div layout:fragment="content_admin">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Model details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${model.getId()}"></td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td th:text="${model.getName()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(model.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(model.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>brand</th>
                            <td th:text="${model.getBrand()}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{'/admin/sneakers?modelId=' + ${model.getId()}}" type="button" class="btn btn-primary btn-details mr-5">Show all sneakers</a>
                    <a th:href="@{'/admin/sneakers/new?modelId=' + ${model.getId()}}" type="button" class="btn btn-primary btn-details mr-5">Create new sneaker</a>
                    <a th:href="@{'/admin/models/edit?id=' + ${model.getId()}}" type="button" class="btn btn-primary btn-details">Edit model</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>