<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/datatable_admin}">
<head>
    <meta charset="utf-8">
    <title>Models</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="model,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${model.getName()}"></td>
        <td th:text="${model.getBrand()}"></td>
        <td>
            <a th:href="@{'/admin/models/details/' + ${model.getId()}}" type="button" class="btn btn-primary btn-details">details</a>
        </td>
        <td>
            <a th:href="@{'/admin/models/delete/' + ${model.getId()}}" type="button" class="btn btn-danger btn-delete">delete</a>
        </td>
    </tr>

</div>

</body>
</html>