<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Client Details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Client Details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${client.getId()}"></td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td th:text="${client.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td th:text="${client.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td th:text="${client.getAge()}"></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td th:text="${#calendars.format(client.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td th:text="${#calendars.format(client.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{'/banks/link?clientId=' + ${client.getId()} + '&page=1&size=100'}" type="button" class="btn btn-primary mr-5">Link bank</a>
                    <a th:href="@{'/banks/unlink?clientId=' + ${client.getId()}}" type="button" class="btn btn-primary mr-5">Unlink bank</a>
                    <a th:href="@{'/clients/edit?id=' + ${client.getId()}}" type="button" class="btn btn-primary">Edit client</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>