<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${sneaker.getBrand()} + ' ' + ${sneaker.getModel()} + ' ' + ${sneaker.getVersionOfModel()}">Pair
        details</title>
    <link rel="stylesheet" href="/css/pdp.css">
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h1 class="my-4 mt-5"
            th:text="${sneaker.getBrand()} + ' ' + ${sneaker.getModel()} + ' ' + ${sneaker.getVersionOfModel()}">
            Pair</h1>

        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid"
                     th:src="${sneaker.getImageUrl()}"
                     alt="Pair photo">
            </div>

            <div class="col-md-5">
                <h2 class="my-1 mb-3">Pair details</h2>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5>Gender:</h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="text-muted" th:text="${sneaker.getSneakerGender()}"></h5>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5>Quantity:</h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="text-muted" th:text="${sneaker.getQuantity()}"></h5>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5>Price:</h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="text-muted" th:text="${sneaker.getPrice()} + ' $'"></h5>
                    </li>
                </ul>

                <form action="#" th:action="@{'/catalogue/details/' + ${sneaker.getId()}}" th:object="${cartItem}"
                      method="post">
                    <div class="form-group">
                        <h5 for="size">Choose size</h5>
                        <select class="form-control" id="size" th:field="*{sizeId}">
                            <option th:each="size : ${sizes}"
                                    th:value="${size.getId()}"
                                    th:text="${size.getSize()}">
                            </option>
                        </select>
                    </div>
                    <input type="hidden" id="sneakerId" aria-describedby="sneakerId" th:value="${cartItem.sneakerId}"
                           th:field="*{sneakerId}">
                    <button type="submit" class="btn btn-outline-dark mt-2 btn-lg btn-block" th:if="${inStock}">Add to
                        cart
                    </button>
                    <button type="submit" class="btn btn-outline-dark mt-2 btn-lg btn-block" th:if="${!inStock}"
                            disabled>Add to cart
                    </button>

                </form>

                <ul class="list-unstyled list mt-4">
                    <li class="mb-3 d-flex align-items-center"><i class="fa fa-truck mr-3 text-secondary"></i>Fast
                        worldwide shipping from Europe.
                    </li>
                    <li class="mb-3 d-flex align-items-center"><i class="fa fa-copyright mr-3 text-secondary"></i>We
                        have only original items.
                    </li>
                    <li class="mb-3 d-flex align-items-center"><i class="fa fa-calendar mr-3 text-secondary"></i>You
                        have 30 days to return.
                    </li>
                </ul>

            </div>
        </div>
        <h3 class="my-4">Description</h3>
        <div class="row ml-1">
            <p th:text="${sneaker.getDescription()}">Pair description</p>
        </div>
    </div>
</div>


</body>
</html>