<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Users</title>
</head>
<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
          All Users
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Delete</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,iter : ${users}">
              <td th:text="${iter.count}"></td>
              <td th:text="${user.getFirstName()}"></td>
              <td th:text="${user.getLastName()}"></td>
              <td>
                <a th:href="@{'/users/delete/' + ${user.getId()}}" type="button" class="btn btn-danger btn-delete">Delete</a>
              </td>
              <td>
              <a th:href="@{'/users/' + ${user.getId()}}"
                 type="button"
                 class="btn btn-link">Details</a>
            </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <a th:href="@{'/users/new'}"
             type="button"
             class="btn btn-primary btn-details">New user</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>